Dear <%=h @login %>,

Thanks for signing up with Heyudo ( http://www.heyudo.com )

Your confirmation code is: <%=h @conf_code %>

You will be asked for this code the first time you log in. Just copy and paste it into the "Confirmation code" box.