<% for column in Bill.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bill.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bill %> |
<%= link_to 'Back', :action => 'list' %>
