<h4>Rate <%=h @user.login %>'s performance for service on "<%=h @post.title %>"</h4>

<%= start_form_tag ({:controller => 'feedback', :action => 'sent', :user => @user.id, :post => @post.id}, :multipart => true) %>
<p><label for="feedback_comment">Comment:</label><br/>
<%= text_field 'feedback', 'comment' %></p>
<%= submit_tag "Send" %>
<%= end_form_tag %>

<%= image_tag "thumb_up.png" %><%= link_to "Thumbs up", :action => 'thumbs_up', :id => @user.id, :post => @post.id, :vote => 10 %><%= image_tag "thumb_down.png" %><%= link_to "Thumbs down", :action => 'thumbs_down', :id => @user.id, :post => @post.id, :vote => 10 %>
<%= link_to_remote("Cancel", :update => 'feedbackBox' , :complete => "new Effect.Fade('feedbackBox')", :url => { :controller => 'account', :action => 'feedback', :receiver => @post.user.id, :post => @post.id}) %>